<div class="card border-0 p-5">
    <div class="card-title">
        <div class="">
            <h1 class="text-primary">کار با api</h1>
        </div>
    </div>
    <div class="card-body">
        <div class="mb-5">
            <p>جهت راحتی در فراخوانی توابع api در محیط gilacejs ، کلاس request به صورت سراسری(global) در controller
                ها در دسترس است.</p>
        </div>

        <div class="mb-5">
            <h3>get</h3>
            <div class="p-3 container-fluid">
                <p>ارسال درخواست با متد GET به آدرس example.com/path/to/api</p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                        <pre style="direction: ltr;text-align: left">
                            <code class="language-js">
                               let response = await new request('path/to/api').get();
                            </code>
                        </pre>
            </div>

        </div>

        <div class="mb-5">
            <h3>post</h3>
            <div class="p-3 container-fluid">
                <p>ارسال اطلاعات با متد POST به آدرس example.com/path/to/api</p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                        <pre style="direction: ltr;text-align: left">
                            <code class="language-js">
                                let data = {
                                                name:      'حسن',
                                                family:    'ترابی',
                                                age:        27,
                                                gender:    'male'
                                            }

                                let response = await new request("path/to/api").post(data);
                                if( response.status == 200 ){

                                    alert('success');

                                }

                            </code>
                        </pre>
            </div>

        </div>

        <div class="mb-5">
            <h3>put</h3>
            <div class="p-3 container-fluid">
                <p>ارسال اطلاعات با متد PUT به آدرس example.com/path/to/api</p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                        <pre style="direction: ltr;text-align: left">
                            <code class="language-js">
                                let data = {
                                                name:      'حسن',
                                                family:    'ترابی',
                                                age:        27,
                                                gender:    'male'
                                            }

                                let response = await new request("path/to/api").put(data);
                                if( response.status == 200 ){

                                    alert('success');

                                }

                            </code>
                        </pre>
            </div>

        </div>

        <div class="mb-5">
            <h3>patch</h3>
            <div class="p-3 container-fluid">
                <p>ارسال اطلاعات با متد PATCH به آدرس example.com/path/to/api</p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                        <pre style="direction: ltr;text-align: left">
                            <code class="language-js">
                                let data = {
                                                name:      'حسن',
                                                family:    'ترابی',
                                                age:        27,
                                                gender:    'male'
                                            }

                                let response = await new request("path/to/api").patch(data);
                                if( response.status == 200 ){

                                    alert('success');

                                }

                            </code>
                        </pre>
            </div>

        </div>

        <div class="mb-5">
            <h3>delete</h3>
            <div class="p-3 container-fluid">
                <p>ارسال درخواست با متد DELETE به آدرس example.com/path/to/api</p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                        <pre style="direction: ltr;text-align: left">
                            <code class="language-js">

                                let response = await new request("path/to/api").delete();
                                if( response.status == 200 ){

                                    alert('success');

                                }

                            </code>
                        </pre>
            </div>

        </div>

    </div>
</div>