<div class="container">
    <div class="row" style="margin-top: 100px;">
        <div class="col-sm-8 col-sm-offset-2">
            <div style="padding: 2rem;">
                <h5 class="d-flex align-items-center">
                    یک اپلیکیشن دیگر با Arnahit.JS
                </h5>
                <hr/>
                <div class="p-3 pt-1">
                    جهت آشنایی با gilace.js به آدرس
                    <a href="http://gilacejs.gilace.com" target="_blank">gilacejs.gilace.com</a>
                    مراجعه نمایید
                </div>
            </div>
        </div>
    </div>

</div>