<div class="card border-0 p-5">
    <div class="card-title">
        <div class="">
            <h1 class="text-primary">ابزار های کمکی</h1>
        </div>
    </div>
    <div class="card-body">
        <p class="mb-3">ابزارهای کمکی شامل برخی از پرکاربرد ترین توابع مورد استفاده است, که میتوانند سرعت توسعه را افزایش
            دهند. همچنین جهت راحتی در فراخوانی توابع api در محیط
            {{env('app_name')}}
            ، کلاس request به صورت سراسری(global) در کامپوننت ها در دسترس است.</p>

        <h4>کار با api</h4>
        <p>ارسال درخواست با متد GET به آدرس example.com/path/to/api</p>
        <div class="card card-body">
                        <pre style="direction: ltr;text-align: left">
                            <code class="language-js">
                               let response = await new request('path/to/api').get();
                            </code>
                        </pre>
        </div>
        <p>ارسال اطلاعات با متد POST/PUT/PATCH به آدرس example.com/path/to/api</p>
        <div class="card card-body">
                        <pre style="direction: ltr;text-align: left">
                            <code class="language-js">
                                let data = {
                                                name:      'حسن',
                                                family:    'ترابی',
                                                age:        27,
                                                gender:    'male'
                                            }

                                //let response = await new request("path/to/api").path(data);
                                //let response = await new request("path/to/api").put(data);
                                let response = await new request("path/to/api").post(data);

                                if( response.status == 200 ){

                                    alert('success');

                                }

                            </code>
                        </pre>
        </div>
        <p>ارسال درخواست با متد DELETE به آدرس example.com/path/to/api</p>
        <div class="card card-body">
                      <pre style="direction: ltr;text-align: left">
                            <code class="language-js">

                                let response = await new request("path/to/api").delete();
                                if( response.status == 200 ){

                                    alert('success');

                                }

                            </code>
                        </pre>
        </div>

        <h4 >ابزارها</h4>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0" dir="ltr">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#collapseOne">
                        empty(object)
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse">
                <div class="card-body">

                    <div class="p-3">
                        <p>این تابع بررسی میکند شیئ ورودی خالیست یا خیر و true  | false برمیگرداند. </p>
                        <div class="card mb-3">
                            <div class="card-header">ارسال اطلاعات با متد POST به آدرس example.com/path/to/api</div>
                            <div class="card-body">
                        <pre style="direction: ltr;text-align: left">
                            <code class="language-js">
                                new request("user/update/1").post({
                                    name:'حسن',
                                    age:27
                                }).then((response) => {
                                    alert(response.param1);
                                });

                            </code>
                        </pre>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading2">
                <h2 dir="ltr" class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#collapse2">
                        uuid()
                    </button>
                </h2>
            </div>

            <div id="collapse2" class="collapse">
                <div class="card-body">

                    <div class="p-3">
                        <p>این تابع بررسی میکند شیئ ورودی خالیست یا خیر و true  | false برمیگرداند. </p>
                        <div class="card mb-3">
                            <div class="card-header">ارسال اطلاعات با متد POST به آدرس example.com/path/to/api</div>
                            <div class="card-body">
                        <pre style="direction: ltr;text-align: left">
                            <code class="language-js">
                                new request("user/update/1").post({
                                    name:'حسن',
                                    age:27
                                }).then((response) => {
                                    alert(response.param1);
                                });

                            </code>
                        </pre>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading3">
                <h2 dir="ltr" class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#collapse3">
                        alert(text, status, args, callback)
                    </button>
                </h2>
            </div>

            <div id="collapse3" class="collapse">
                <div class="card-body">

                    <div class="p-3">
                        <p>این تابع بررسی میکند شیئ ورودی خالیست یا خیر و true  | false برمیگرداند. </p>
                        <div class="card mb-3">
                            <div class="card-header">ارسال اطلاعات با متد POST به آدرس example.com/path/to/api</div>
                            <div class="card-body">
                        <pre style="direction: ltr;text-align: left">
                            <code class="language-js">
                                new request("user/update/1").post({
                                    name:'حسن',
                                    age:27
                                }).then((response) => {
                                    alert(response.param1);
                                });

                            </code>
                        </pre>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading4">
                <h2 dir="ltr" class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#collapse4">
                        assets(path)
                    </button>
                </h2>
            </div>

            <div id="collapse4" class="collapse">
                <div class="card-body">

                    <div class="p-3">
                        <p>این تابع بررسی میکند شیئ ورودی خالیست یا خیر و true  | false برمیگرداند. </p>

                        <div class="card mb-3">
                            <div class="card-header">دریافت url فایل موجود در مسیر assets/img/example.png</div>
                            <div class="card-body">
                        <pre style="direction: ltr;text-align: left">
                            <code class="language-js">let image_src = assets('img/example.png');</code>
                        </pre>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading5">
                <h2 dir="ltr" class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#collapse5">
                        generateRandomString()
                    </button>
                </h2>
            </div>

            <div id="collapse5" class="collapse">
                <div class="card-body">

                    <div class="p-3">
                        <p>این تابع بررسی میکند شیئ ورودی خالیست یا خیر و true  | false برمیگرداند. </p>
                        <div class="card mb-3">
                            <div class="card-header">ارسال اطلاعات با متد POST به آدرس example.com/path/to/api</div>
                            <div class="card-body">
                        <pre style="direction: ltr;text-align: left">
                            <code class="language-js">
                                new request("user/update/1").post({
                                    name:'حسن',
                                    age:27
                                }).then((response) => {
                                    alert(response.param1);
                                });

                            </code>
                        </pre>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>