<div class="card border-0 p-5">
    <div class="card-title">
        <div class="">
            <h1 class="text-primary">۰ تا ۱۰۰ کار با صفحات</h1>
            <div class="p-3">
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="mb-5">
            <div class="p-3">
                <p>
                    در {{env('app_name')}} نیز همانند اکثر فریم ورک ها همه چیز یک کامپوننت است. برای افزودن یک صفحه,
                    شما یک کامپوننت جدید ایجاد میکنید و برای طراحی آن میتوانید از کامپوننت های پیش ساخته یا کامپوننت
                    های دلخواه خودتان استفاده نمایید. صفحات اپلیکیشن فایلهای javascript هستند که در پوشه app تعریف
                    میشوند. در این فایل ها شما یک کلاس با ارثبری از کلاس Component میسازید و با override کردن تابع
                    render میتوانید ui مورد نظر را طراحی نمایید. برای شروع یک فایل js با نام test در پوشه
                    application/controllers اضافه کنید و کد زیر را در آن کپی کنید. نتیجه این کد یک صفحه سفید خالی میباشد
                    که با آدرس example.com/#!/test در مرورگر قابل مشاهده است.
                </p>
                <div class="card card-body mb-3">
                        <pre style="direction: ltr;text-align: left">
                            <code class="language-js">
                                class Test extends Component {

                                }
                                export default Test;
                            </code>
                        </pre>
                </div>
                <p>
                    کامپوننت ها از کد های jsx پشتیبانی میکنند. بنابر این میتوانید کامپوننت ها را با سینتکس html به همراه
                    props مورده استفاده قرار دهید.
                    این موضوع به شما در طراحی ui های پیچیده کمک خواهد کرد.
                    همچنین به دلیل استفاده از jsx پس از اعمال هر تغییر شما میباست برای مشاهده دستور npm run build-web را
                    در ترمینال اجرا نمایید.
                </p>
            </div>
        </div>
        <div class="mb-5">
            <h4>چرخه زندگی یک کامپوننت</h4>
            <div class="p-3">
                <p>
                    به طور کلی چرخه زندگی یک کامپوننت در ۲ بخش خلاصه میشود. پیش از اجرای تابع render و پس از آن. به
                    عنوان مثال فرض کنید قرار است هنگام فرخوانی url کامپوننت userList رندر شود. در مرحه اول پیش از
                    بارگذاری کامپوننت اگر روتی تعریف کرده باشید و middleware  برای این روت در نظر گرفته باشید (مانند
                    authentication) ابتدا middleware اجرا میشود.
                    پس از اتمام کار و بارگذاری کامپوننت ایونت component_did_mount فراخوانی میشود.
                    شما در این ایونت به عنوان مثال میتوانید درخواستی به سرور بفرستید و اطلاعات دریافتی را به کمک تابع
                    setState به پارامتر state کامپوننت اضافه کنید تا هنگام رندر از آنها استفاده کنید.
                    ایونت component_did_mount به صورت async/await فراخوانی میشود, پس تا پیش از اتمام کارها مرحله بعد
                    اجرا نخواهد شد.
                </p>
                <p>
                    پس از اتمام مرحله اول , تابع render فراخوانی میشود. نتیجه این تابع نهایتا یک کد html خواهد بود که در
                    مرورگر نمایش داده خواهد شد.
                    پس از render نیز ایونت on_rendered اجرا خواهد شد و شما میتوانید کد های javascript و ... مربوط به ui
                    را اجرا نمایید.
                </p>
            </div>
        </div>
    </div>
</div>