<div class="card border-0 p-5">
    <div class="card-title">
        <div class="">
            <h1 class="text-primary">صفحات اپلیکیشن</h1>
            <div class="p-3">
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="mb-5">
            <h3>۰ تا ۱۰۰ کار با صفحات</h3>
            <div class="p-3">

                فرض کنید میخواهید اطلاعاتی را از api دریافت نماید و نتیجه را در قالب یک صفحه html نشان دهید. برای اینکار
                میتوانید یک controller جدید اضافه کنید. یک فایل js با نام test در پوشه application/controllers اضافه
                کنید و کد زیر را در آن کپی کنید. نتیجه این کد یک صفحه سفید (یا layout تعریف شده در app.js) خالی میباشد
                که با آدرس example.com/#!/test در
                مرورگر قابل مشاهده است.

            </div>
            <div class="card mb-3">
                <div class="card-body">
                        <pre style="direction: ltr;text-align: left">
                            <code class="language-js">
                                import {Component} from '/quick_start.js';

                                class Test extends Component {

                                }
                                export default Test;
                            </code>
                        </pre>
                </div>
            </div>
        </div>
    </div>
</div>