<div class="card border-0 p-5">
    <div class="card-title">
        <div class="">
            <h1 class="text-primary">شروع سریع</h1>
            <div class="p-3">
                <p>فریم ورکی بر پایه جاوااسکریپت برای توسعه آسان و سریع UI میباشد
                    {{env('app_name')}}
                </p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="mb-5">
            <h3>دانلود و نصب</h3>
            <div class="p-3">
                <p>برای نصب ابتدا {{env('app_name')}} را از لینک زیر دریافت نمایید, و در پوشه ای با نام پروژه خود, فایل
                    را از حالت
                    فشرده خارج کنید. سپس جهت نصب سایر نیازمندی ها دستور
                    <span class="badge badge-light" style="font-size:small"> npm install </span>
                    را اجرا نمایید. فایل نصبی شامل اپلیکیشن پایه است. دستور
                    <span class="badge badge-light" style="font-size:small"> npm run build-web </span>
                    را اجرا کنید. پس از چند لحظه اپلیکیشن شما در پوشه dist/web ایجاد میشود. برای اجرای اپلیکیشن در local
                    میبایست ابتدا با ابزار هایی همانند MAMP یک هاست ایجاد کنید(در طول این آموزش ما آدرس example.com را
                    به عنوان آدرس هاست در نظر میگیریم) و مسیر آن را پوشه dist/web قرار دهید. اکنون میتوانید مرورگر را
                    باز کنید و نتیجه را در آدرس example.com مشاهده نمایید
                </p>
                <p>
                    <span>لینک دانلود</span>
                    <a href="http://arnahit.com/downloads/arnahitJS.zip" target="_blank">http://arnahit.com/downloads/arnahitJS.zip</a>
                </p>
            </div>
        </div>
        <div class="mb-5">
            <h3>ساختار پوشه ها</h3>
            <div class="p-3">
                <p>پیش از شروع بهتر است با ساختار پیش فرض پوشه ها در {{env('app_name')}} آشنا شوید.</p>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <ul class=" pt-5 list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6>app</h6>
                                    <p class="text-black-50">فایل های اجرایی js مربوط به صفحات</p>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6>resources</h6>
                                    <p class="text-black-50">کل فایلهای مربوط به ui در این پوشه قرار میگیرد</p>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6>core</h6>
                                    <p class="text-black-50">فایل های مربوط به {{env('app_name')}}</p>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6>dist</h6>
                                    <p class="text-black-50">فایلهای خروجی</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-5">
            <h3>آشنایی سریع</h3>
            <div class="p-3 container-fluid">
                <p>
                    فایل app.js نقطه شروع کار میباشد. شما در این فایل تنظیمات اپلیکیشن خود برای اجرا در مرورگر را معرفی
                    میکنید. برای شروع سریع شما نیاز دارید تا یک route به سیستم اضافه کنید.route ها نحوه پاسخ اپلیکیشن به
                    url های درخواستی را مشخص میکنند. تغییرات زیر را در فایل app.js اعمال کنید و نتیجه را در مرورگر
                    ببینید. برای اینکار آدرس example.com را در مرورگر باز کنید.
                </p>
                <div class="card mb-3">
                    <div class="card-header">ایجاد یک route جدید</div>
                    <div class="card-body">
                        <pre style="direction: ltr;text-align: left">
                            <code class="language-js">
                                // import Router class
                                import {Application, Router} from '/gilace/quick_start.js';

                                let myApp = new Application();

                                // add this code to app.js

                                myApp.registerRoutes(()=>{
                                    let router = new Router();
                                    router.route('',()=>{
                                        return 'hello world 1';
                                    });
                                });

                                //end
                                ...
                                export default myApp;
                            </code>
                        </pre>
                    </div>

                </div>
                <p>
                    همچنین شما میتوانید یک controller بسازید و به جای پاسخ مستقیم از طریق router ، دستور اجرای
                    controller
                    را بدهید. برای این کار فایل quick_start.js را در پوشه پروڑه و مسیر application/controllers بسازید و
                    کد زیر
                    را در این فایل کپی کنید
                </p>

                <div class="card mb-3">
                    <div class="card-header">کد پایه controller با نام index</div>
                    <div class="card-body">

                        <pre style="direction: ltr;text-align: left">
                            <code class="language-js">
                                import {Component} from '/quick_start.js'

                                class Quick_start extends Component{
                                    start(navigation_data = {}) {
                                        return 'hello world!';
                                    }
                                }

                                export default Quick_start;
                            </code>
                        </pre>

                    </div>

                </div>

                <p>برای اجرای این فایل در ازاء اجرای آدرس example.com/#!/test میبایست یک route جدید ایجاد کنید. برای
                    اینکار کد زیر را به فایل app.js اضافه کنید</p>
                <div class="card mb-3">
                    <div class="card-body">
                        <pre style="direction: ltr;text-align: left">
                            <code class="language-js">
                                router.route('test','index');
                            </code>
                        </pre>
                    </div>
                </div>
                <p>
                    برای اجرای یک controller تعریف route الزامی نیست. اگر controller متناظر با آدرس نوشته شده پس از /#!/
                    در url عینا در پوشه application/controllers موجود باشد شما نیازی به تعریف route ندارید.
                    برای تست این موضوع کد پایه controller را در فایلی با نام test2.js در مسیر
                    application/controllers/custom_url
                    کپی کنید.
                    در اینصورت اگر در مرورگر آدرس example.com/#!/custom_url را بازکنید میبایست نوشته hello world! را
                    ببینید
                </p>
            </div>
        </div>
    </div>
</div>