<div class="card border-0 p-5">
    <div class="card-title">

        <h1 class="text-primary">شروع سریع</h1>

    </div>
    <div class="card-body">
        <div class="mb-5">
            <h3>دانلود و نصب</h3>
            <div class="p-3">
                <p>برای نصب ابتدا {{env('app_name')}} را از لینک زیر دریافت نمایید, و در پوشه ای با نام پروژه خود, فایل
                    را از حالت
                    فشرده خارج کنید. سپس جهت نصب سایر نیازمندی ها دستور
                    <span class="badge badge-light" style="font-size:small"> npm install </span>
                    را اجرا نمایید. فایل نصبی شامل اپلیکیشن پایه است. دستور
                    <span class="badge badge-light" style="font-size:small"> npm run build-web </span>
                    را اجرا کنید. پس از چند لحظه اپلیکیشن شما در پوشه dist/web ایجاد میشود. برای اجرای اپلیکیشن در local
                    میبایست ابتدا با ابزار هایی همانند MAMP یک هاست ایجاد کنید(در طول این آموزش ما آدرس example.com را
                    به عنوان آدرس هاست در نظر میگیریم) و مسیر آن را پوشه dist/web قرار دهید. اکنون میتوانید مرورگر را
                    باز کنید و نتیجه را در آدرس example.com مشاهده نمایید
                </p>
                <p>
                    <span>لینک دانلود</span>
                    <a href="http://arnahit.com/downloads/arnahitJS.zip" target="_blank">http://arnahit.com/downloads/arnahitJS.zip</a>
                </p>
            </div>
        </div>
        <div class="mb-5">
            <h3>ساختار پوشه ها</h3>
            <div class="p-3">
                <p>پیش از شروع بهتر است با ساختار پیش فرض پوشه ها در {{env('app_name')}} آشنا شوید.</p>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <ul class=" pt-5 list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6>app</h6>
                                    <p class="text-black-50">فایل های اجرایی js مربوط به صفحات</p>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6>resources</h6>
                                    <p class="text-black-50">کل فایلهای مربوط به ui در این پوشه قرار میگیرد</p>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6>core</h6>
                                    <p class="text-black-50">فایل های مربوط به {{env('app_name')}}</p>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6>dist</h6>
                                    <p class="text-black-50">فایلهای خروجی</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-5">
            <h3>آشنایی سریع</h3>
            <div class="p-3 container-fluid">
                <p>
                    به طور خلاصه {{env('app_name')}} فریم ورکی بر پایه جاوااسکریپت برای توسعه آسان و سریع UI میباشد.
                    طراحی سایت با {{env('app_name')}} در چند بخش خلاصه میشود. مرحله اول تعریف اپلیکیشن است. پس از
                    بارگزاری فایل index.html اولین فایل js که اجرا میشود فایل index.js موجود در مسیر root پروژه است. شما
                    در این فایل اپلیکیشن خود را تعریف و آن را build میگیرید.این تعریف , شامل تعریف ثابت ها (constants) ,
                    فایل های ui که به صورت global مورد استفاده قرار میگیرند , روتها (route) و ... میباشد.
                    برای ایجاد اپلیکیشن hello_world کد زیر را در index.js کپی کنید
                </p>
                <div class="card mb-3">
                    <div class="card-header">index.js نمونه</div>
                    <div class="card-body">
                        <pre style="direction: ltr;text-align: left">
                            <code class="language-js">
                                import {Arnahit} from "/core/Arnahit.js";

                                let myApp = new Arnahit();

                                myApp.build();
                            </code>
                        </pre>
                    </div>

                </div>
                <p>
                    همچنین شما میتوانید یک controller بسازید و به جای پاسخ مستقیم از طریق router ، دستور اجرای
                    controller
                    را بدهید. برای این کار فایل quick_start.js را در پوشه پروڑه و مسیر application/controllers بسازید و
                    کد زیر
                    را در این فایل کپی کنید
                </p>

                <div class="card mb-3">
                    <div class="card-header">کد پایه controller با نام index</div>
                    <div class="card-body">

                        <pre style="direction: ltr;text-align: left">
                            <code class="language-js">
                                import {Component} from '/quick_start.js'

                                class Quick_start extends Component{
                                    start(navigation_data = {}) {
                                        return 'hello world!';
                                    }
                                }

                                export default Quick_start;
                            </code>
                        </pre>

                    </div>

                </div>

                <p>برای اجرای این فایل در ازاء اجرای آدرس example.com/#!/test میبایست یک route جدید ایجاد کنید. برای
                    اینکار کد زیر را به فایل app.js اضافه کنید</p>
                <div class="card mb-3">
                    <div class="card-body">
                        <pre style="direction: ltr;text-align: left">
                            <code class="language-js">
                                router.route('test','index');
                            </code>
                        </pre>
                    </div>
                </div>
                <p>
                    برای اجرای یک controller تعریف route الزامی نیست. اگر controller متناظر با آدرس نوشته شده پس از /#!/
                    در url عینا در پوشه application/controllers موجود باشد شما نیازی به تعریف route ندارید.
                    برای تست این موضوع کد پایه controller را در فایلی با نام test2.js در مسیر
                    application/controllers/custom_url
                    کپی کنید.
                    در اینصورت اگر در مرورگر آدرس example.com/#!/custom_url را بازکنید میبایست نوشته hello world! را
                    ببینید
                </p>
            </div>
        </div>
    </div>
</div>