<div class="card border-0 p-5">
    <div class="card-title">
        <h1 class="text-primary">روتینگ</h1>
    </div>
    <div class="card-body">
        <div class="mb-5">

            <div class="p-3">
                <p>
                    {{env('app_name')}}
                    به صورت پیش فرض route ها را شناسایی میکند, برای اینکار میبایست url بعد از
                    <span dir="ltr" class="text-left">/#!/</span>
                    به فایلی موجود در پوشه app اشاره کند. به عنوان مثال درصورت فراخوانی آدرس example.com/#!/path/to/file
                    توسط مرورگر, درصورتی که route تعریف نشده باشد, فایل app/path/to/file.js را رندر خواهد کرد. در صورتی
                    که
                    میخواهید پوشه بندی دلخواه خود را داشته باشید یا تغییراتی پیش از رندر اعمال نمایید یا ... میبایست یک
                     route
                    تعریف کنید.
                </p>
            </div>
        </div>
        <div class="mb-5">
            <h3>تعریف route جدید</h3>
            <div class="p-3">
                 <p>
                شما میبایست route ها رابه کمک تابع registerRoutes هنگام پیکره بندی در فایل index.js ثبت نمایید. ورودی
                این تابع یک callback است که میتوانید یک تابع برای تعریف route ها در همین فایل باشد و یا یک string شامل
                آدرس فایل که route ها در آن تعریف شده اند.
                در هر صورت برای تعریف یک route کلاسی با نام Router به صورت global در سیستم وجود دارد. یک شيئ از این کلاس
                بسازید و به کمک تابع add روت جدید خود را بسازید.
                یک route آدرس بعد از
                <span dir="ltr" class="text-left">/#!/</span>
                در url سایت را از طریق یک callback نمایش میدهد. این callback یا میتواند یک تابع باشد تا مستقیما پاسخ
                دهد
                و یا مسیر یک component در پوشه app باشد. پس از تعریف route تابع navigate به شما کمک میکند تا بین
                route
                ها سوئیچ کنید.
            </p>
            </div>
            <div class="p-3">

                <div class="card card-body">
                    <pre style="direction: ltr;text-align: left">
                            <code class="language-js">
                                myApp.registerRoutes(() =&gt; {
                                    let router = new Router();

                                    //render component in app/path/to/file.js
                                    router.add('url1' , 'path/to/file');

                                    //inline render for url2
                                    router.add('url2' , () =&gt; {
                                        return &gt;Text&lt;hello world!&gt;/Text&lt;
                                    });
                                });
                            </code>
                        </pre>
                </div>
            </div>
            <div class="p-3">
                <p>
                    تابع add آرگومان سومی نیز دارد که به شما کمک میکند تنظیمات خاصی را به route ها اعمال کنید. به عنوان
                    مثال میتوانید یک قالب html به نتیجه render یک روت اضافه کنید و یا ... در نسخه فعلی این تنظیمات شامل
                    موارد زیر است.
                </p>
            </div>
            <div class="p-3">
                <ul class="list-group list-inline">
                    <li>
                        <h5>namespace</h5>
                        <p>
                            تمام فایل های موجود در مسیر
                            <span dir="ltr">
                                [controllers_directory]/path/to
                            </span>

                            را به صورت زیر میتوان به route ها اضافه کرد
                        </p>
                        <div class="card card-body">
                                 <pre style="direction: ltr;text-align: left">
                            <code class="language-js">
                                router.add('url1', 'file1',{namespace: '/path/to'});
                            </code>
                        </pre>
                        </div>

                    </li>
                    <li>
                        <h5>layout</h5>
                        <p>
                            تمام فایل های موجود در مسیر
                            <span dir="ltr">
                                [controllers_directory]/path/to
                            </span>

                            را به صورت زیر میتوان به route ها اضافه کرد
                        </p>
                        <div class="card card-body">
                                 <pre style="direction: ltr;text-align: left">
                            <code class="language-js">
                                router.add('url1', 'file1',{namespace: '/path/to'});
                            </code>
                        </pre>
                        </div>

                    </li>
                    <li>
                        <h5>dependencies</h5>
                        <p>
                            تمام فایل های موجود در مسیر
                            <span dir="ltr">
                                [controllers_directory]/path/to
                            </span>

                            را به صورت زیر میتوان به route ها اضافه کرد
                        </p>
                        <div class="card card-body">
                               <pre style="direction: ltr;text-align: left">
                            <code class="language-js">
                               router.add('url1', 'file1',{namespace: '/path/to'});
                            </code>
                        </pre>
                        </div>

                    </li>
                    <li>
                        <h5>middleware</h5>
                        <p>
                            middleware
                            ها قبل از اجرای route اجرا می شوند و میتواند اجرای route را عوض کنند
                        </p>
                        <div class="card card-body">
                                <pre style="direction: ltr;text-align: left">
                            <code class="language-js">
                                    router.add('url', 'path/to/file',{middleware: 'authenticate'});
                            </code>
                        </pre>
                        </div>

                    </li>
                </ul>
            </div>
            <div class="p-3">
                <p>
                    شما میتوانید پارامتر های مورد نظر خود را نیز مورد استفاده قرار دهید که هنگام render روت در دسترس شما
                    قرار میگیرند و میتوانید با تعریف یک middleware آنها را پیش از رندر مدیریت کنید. همچنین اگر میخواهید
                    دسته ای از پارامترها را به صورت گروهی به چندین route اعمال کنید میبایست روت ها را گروه گروه تعریف
                    نمایید
                </p>
                <div class="card card-body">
                                <pre style="direction: ltr;text-align: left">
                            <code class="language-js">
                                router.route_group({middleware: 'authenticate'}, () => {

                                    router.add('url1', 'path/to/file1');
                                    router.add('url2', 'path/to/file2');
                                    router.add('url3', 'path/to/file3');
                                    router.add('url4', 'path/to/file4');
                                    router.add('url5', 'path/to/file5');
                                });
                            </code>
                        </pre>
                </div>
            </div>
        </div>
        <div class="mb-5">
            <h3>سوئیچ بین صفحات</h3>
            <div class="p-3">
                 <p>
                پس از ساخت دومین صفحه اپلیکیشن خود, جهت سوئیچ بین صفحات شما می توانید از تابع navigate استفاده کنید.
                ورودی این تابع میتواند
                نام یا url یک route, مسیر فایل controller بدون پسوند فایل (در صورتی که نمیخواهید route تعریف کنید) باشد.
            </p>
                <pre style="direction: ltr;text-align: left">
                            <code class="language-js">
                                // router.route('user/profile/edit','user/update').name('user_update');
                                gilace.navigation.navigate('user/profile/edit'); //<---- navigate by route url
                                gilace.navigation.navigate('user_update'); //<---- navigate by route name
                                gilace.navigation.navigate('user/update'); //<---- routing not required

                            </code>
                        </pre>
            </div>
        </div>
    </div>
</div>
