<!-- MY CUSTOM LAYOUT -->
<div class="col-sm-2 sidebar border-left text-dark">
    <div class="pb-5">
        <h5 class="text-center" dir="ltr">Quick_start.JS <span class="badge badge-primary">v1.2.0</span>
        </h5>
    </div>
    <div gilace-rel="drawer_navigation">
    </div>
</div>
<div class="col-sm-10 col-sm-offset-2" id="app_wrapper">
    <div class="p-2">
        <div class="row">
            <div class="col-sm-12">

                <!-- PAGE TITLE -->
                <div class="col-sm-12">
                </div>

                <!-- RESPONSE WRAPPER -->
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div gilace-rel="response"></div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <hr/>
                    <div class="pb-3 d-flex align-items-center" dir="ltr">
                        <span>powered by</span>
                        <a href="http://gilace.com"><img src="{{resources('img/gilace_logo.svg')}}"
                                                         style="width: 30px"></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
