
@font-face {
    font-family: 'IRANSansWeb';
    src: url('../../assets/fonts/IRANSansWeb_Light.woff2?-wwn5ej') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlegreyaSans-Regular';
    src: url("../fonts/alegreya-sans/AlegreyaSans-Regular.otf") format("opentype");
}

html,body {
    background-color: #f8f9fa;
    font-family: 'IRANSansWeb', 'AlegreyaSans-Regular';
    font-size: 12px;
}

/** sidebar **/
.sidebar {
    background: #0e1219;
    color: #aaa;
    background: linear-gradient(#1e1e2f, #1e1e24);
    min-height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 999;
    padding: 0;
    padding-top: 60px;
}

@media (max-width: 768px) {

    .sidebar {
        top: 0 !important;
        margin: 0 auto;
        clear: both;
        right: 0;
        position: fixed;
        transform: translateX(100%);
    }
}

.sidebar-icon {
    margin: 0 0 0 20px;
}

.sidebar ul {
    margin: 0 auto;
    padding: 0;

}

.sidebar ul li {
    list-style: none;
    margin: 0 auto;
    width: 100%;
    display: block;
    color: #ddd;
}

.sidebar ul li:hover {
    background: #22293a;
    transition: all 0.3s ease

}

.sidebar ul li button,.sidebar ul li a {
    color: #ddd;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    display: block;
    margin: 0 auto;
    text-align: right;
}

.sidebar ul li:hover > ul {
    display: block;
    transition: .9s all;

}

/** user image **/
.user-image {
    height: 100px;
    width: 100px;
    position: relative;
    top: 10px;

}

.user-image:hover {
    opacity: .5;
    transition: all 0.2s ease
}

.exit, .exit:link {
    color: #c6721b;
    text-decoration: none;
}

.exit:hover {
    color: rgba(208, 26, 63, 0.83);

}

.username {
    color: #ddddbb;
    font-size: 1.2em;
}

.menu {
    position: relative;
    padding: 0 1rem;
}

.menu ul {
    display: none;
    position: absolute;
    left: -200px;
    top: 0;
    background: #35405c;
    width: 200px;

}


.menu ul li:hover {
    background: rgba(98, 115, 165, 0.8);
    transition: all 0.3s ease
}

@media (max-width: 767px) {
    .menu ul {
        left: 0;
        width: 85%;
        /*        padding: 10px 0;*/
        /*        border: none !important;*/
        top: 30px;
        background-color: #35405c;
        z-index: 100;
    }

    /*    .menu ul li
        {
            border: none !important;
        }*/
    /*    .menu ul li:hover
        {
            background-color: transparent;
        }*/
    .menu ul li a {
        padding-right: 10px;
    }

    /*    .menu ul li a:hover
        {
            background-color: transparent;
        }*/
}

.count-badge {
    background: #ff5a01;
    color: white;
    margin: 0px 0 0 7px;
    /* font-size: .9em; */
}

.tools a {
    text-decoration: none;
    color: #4d4d4d;
    transition: .2s all;
}

.tools a:hover {
    text-decoration: none;
    color: orange;
    transition: .2s all;
}


@media (max-width: 400px) {
    .table-responsive .dropdown-menu {
        position: relative !important;
    }
}

.table-responsive {
    overflow: visible;
}

.datepicker {
    font-family: 'Tahoma';
}

.empty_state {
    padding: 2rem;
}

.empty_state img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.toolbar {
    border-bottom: 1px solid #cdd4e0;
    box-shadow: 0 0 10px rgba(28, 39, 60, 0.06);
    width: 100%;
    z-index: 1000;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

}

.toolbar_item, .toolbar_item_toggle {
    position: relative;
    color: #404040;
    margin-left: 6px;
    display: inline-block;
}

.toolbar_item_toggle * {
    pointer-events: none;
}

.toolbar_item .toolbar_submenu {
    osition: absolute;
    top: calc(100% + 2rem);
    position: absolute;
    border: 1px solid #e0e0e0;
    /* box-shadow: 0px 2px 21px rgba(0,0,0,.1); */
    box-shadow: 0 6px 6px 0 rgba(22, 45, 61, .06), 0 0 18px 0 rgba(22, 45, 61, .12);
    z-index: 100;
    width: 250px;
    text-align: center;
    /* border-top: 0; */
    display: none;
}

.toolbar_item span:nth-child(2) {
    margin: 0 4px 0 4px;
}

.alert {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 350px;
    z-index: 2000;
}

.editor {
    border: 1px solid #ced4da !important;
}

.editor.editor-small {
    min-height: 300px;
}

.gshop-table-list-item {
    padding: 1rem;
    list-style: none;
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
}

.gshop-table-list-item:hover {
    background: #f2f2f2;
}

.gshop-product-poster {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 1rem;
    pointer-events: none;
}

.gshop-product-gallery-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 1rem;
}

/*** Product edit ***/
.delete-image {
    position: absolute;
    top: 0;
    right: 0;
}

/*** uploader ***/
.poster {
    position: relative;
}

.poster:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.08);
    z-index: 1;
    top: 0;
    left: 0;
}

.file_preview_wrapper {
    position: absolute;
    width: 300px;
    height: 100%;
    background-color: #fff;
    top: 0;
    right: 0;
    z-index: 100;
    display: none;
}

.filebox {
    box-sizing: border-box;
    background-color: #ff5a01;
    width: 100px;
}

.filebox.selected {
    padding: 5px;
}

.filebox .img-thumbnail {
    width: 100%;
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}

.collection {
    position: relative;
}

.collection_tools_wrapper {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%);
}